body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--White, #F6F6F6);
  text-align: center;
  font-family: Bitter;
  background: var(--Background-Gradient, linear-gradient(180deg, #0C0C0C 0%, #121212 100%))
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px; /* Adjust this value as needed */
    padding: 0 20px; /* Adjust this value as needed */
}

/* Setting & Notifications */
.settings_icon {
    width: 36px;
    height: 36px;
    top: 34px;
    right: 327px;
    margin-top: 30px;
  }
  
  .notifications {
    width: 36px;
    height: 36px;
    top: 38px;
    left: 327px;
    margin-top: 30px;
  }
  
/* Top Navigation */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px; /* Adjust this value as needed */
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px; /* This adds 10px of space to the left and right of each link */
}

.navbar a.active-2 {
    color: var(--Accent-Green, #D7FF32);
}

/* Carousel */

.carousel {
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px; /* Adjust this value as needed */
}

/* Use the :nth-child pseudo-class to adjust the z-index of each card */
.card:nth-child(1) { z-index: 4; }
.card:nth-child(2) { z-index: 3; }
.card:nth-child(3) { z-index: 2; }
.card:nth-child(4) { z-index: 1; }

.card {
    flex: 0 0 auto;
    width: 256px;
    height: 320px;
    max-width: 100%;
    margin-right: 20px;
    scroll-snap-align: start;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.card:not(.active) {
    opacity: 0;
}

.card img {
    width: 100%;
    height: auto;
}
