body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--Background-Gradient, linear-gradient(180deg, #0C0C0C 0%, #121212 100%))
}

.container {
    position: relative;
    width: 393px;
    height: 852px;
    background: #000;
}

.close {
    float: right;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    padding-right: 20px;
    padding-top: 40px;
}

.image {
    width: 139px;
    height: 139px;
    padding-bottom: 17px;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: Bitter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 17px;

    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflowing text */
}

.description {
    width: 167px;
    height: 44px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.lines {
    position: absolute;
    bottom: 80px;
    left: 50px;
    display: flex;
    gap: 16px;
    align-content: center;
}

.line_1 {
    width: 42px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #B1ADAD;
}

.line_2 {
    width: 42px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #B1ADAD;
}

.line_3 {
    width: 42px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #B1ADAD;
}

.line_4 {
    width: 42px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #B1ADAD;
}

.line_5 {
    width: 42px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #B1ADAD;
}

.main_content {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    /* Stack items vertically */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    padding-top: 232px;
}

.lines .active {
    background-color: #CFE92F;
}

.image, .title, .description {
    /* Remove the height property to allow the content to determine its own height */
    width: 100%; /* Ensure the content takes the full width */
    text-align: center; /* Center the text horizontally */
}

.carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100%; /* Ensure the carousel item takes the full height */
}