body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: var(--White, #F6F6F6);
    text-align: center;
    font-family: Bitter;
    background: var(--Background-Gradient, linear-gradient(180deg, #0C0C0C 0%, #121212 100%))
}

#overall-score, .total{
    color: #FFF;
    text-align: center;
    font-family: Bitter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#points-earned, #points-lost, #points-redeemed, .earned, .lost, .redeem{
    color: #FFF;
    text-align: center;
    font-family: Bitter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--Secondary-Grey, #737373);
    text-align: center;
    padding: 10px 0;
  }
  
  
  #bottom-navbar a {
    color: var(--Secondary-Grey, #737373);
    text-decoration: none;
    margin: 0 10px; /* Adjust the margin between navbar items as needed */
  }

  #bottom-navbar {
    width: 393px;
    height: 80px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-image: url('btn-images/rectangle-938-1.svg');
    background-position: center;
    background-repeat: no-repeat;
    color: var(--Secondary-Grey, #737373);
    font-size: 12px;
    font-weight: 400;
    font-family: Inter;
  }

 
  .icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .active {
    color: var(--Accent-Green, #D7FF32)!important;
  }
  