:root {
  --accent-green: rgba(215, 255, 50, 1);
  --white: rgba(246, 246, 246, 1);
  --main-black: rgba(12, 12, 12, 1);
  --secondary-black: rgba(22, 22, 22, 1);
  --secondary-grey: rgba(115, 115, 115, 1);
  --dark-green: rgba(118, 140, 26, 1);
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Bitter:500,400|Inter:400");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  background: var(--Background-Gradient, linear-gradient(180deg, #0C0C0C 0%, #121212 100%))
}

.homepage {
  background: var(--Background-Gradient, linear-gradient(180deg, #0C0C0C 0%, #121212 100%));
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100hw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* This ensures that the .homepage takes up at least the full height of the viewport */
  margin: 0px;
  padding: 0px;
}


.div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(180deg, rgb(12, 12, 12) 0%, rgb(17.87, 17.87, 17.87) 100%);
  width: 393px;
  height: 852px;
  position: relative;
}

.close {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 38px;
  left: 327px;
}

.settings_title {
  position: absolute;
  color: var(--White, #F6F6F6);
  text-align: center;
  font-family: Bitter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  top: 80px;
}

.name_settings {
  position: absolute;
  top: 177px;
  width: 266px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--White, #F6F6F6);
}

.username_settings {
  position: absolute;
  top: 246px;
  width: 266px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--White, #F6F6F6);
}

.password_settings {
  position: absolute;
  top: 315px;
  width: 266px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--White, #F6F6F6);
}

.profile_picture_settings {
  position: absolute;
  top: 384px;
  width: 266px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--White, #F6F6F6);
}

.language_settings {
  position: absolute;
  top: 684px;
  width: 266px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--White, #F6F6F6);
}

.game_settings {
  position: absolute;
  top: 503px;
  width: 265px;
  height: 43px;
  flex-shrink: 0;
  color: var(--Accent-Green, #D7FF32);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Bitter;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}













































































































footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: var(--Secondary-Grey, #737373);
  text-align: center;
  padding: 10px 0;
}


#bottom-navbar a {
  color: var(--Secondary-Grey, #737373);
  text-decoration: none;
  margin: 0 10px;
  /* Adjust the margin between navbar items as needed */
}

#bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  /* add this */
  transform: translateX(-50%);
  /* add this */
  width: 100%;
  /* adjust this as needed */
  max-width: 600px;
  /* Adjust this as needed */
  height: 80px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
  background-color: var(--secondary-black, #0C0C0C);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  filter: drop-shadow(0px -1px 5px rgba(215, 255, 50, 0.50));
  color: var(--Secondary-Grey, #737373);
  font-size: 12px;
  font-weight: 400;
  font-family: Inter;
}


.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  color: var(--Accent-Green, #D7FF32) !important;
}